{{#em-form-for model action="submit" as |f|}}
  {{#em-date-field f suffix="fa-calendar"}}
    <span class="helper-text">select a date (note, prefix isn't available on date fields)</span>
  {{/em-date-field}}
  {{#em-time-field f suffix="glyphicon-time"}}
    <span class="helper-text">select a time (note, prefix isn't available on date fields)</span>
  {{/em-time-field}}
  {{#em-datetime-field f suffix="fa-twitter"}}
    <span class="helper-text">select a datetime</span>
  {{/em-datetime-field}}
  {{#em-datetime-field f name="moment" suffix="fa-twitter"}}
    <span class="helper-text">you can use moment objects as well</span>
  {{/em-datetime-field}}
  {{#em-timezone-field f}}
    <span class="helper-text">timezone selection operates like a select; prefix and suffix tabs aren't supported (sorry)</span>
  {{/em-timezone-field}}
  <button class="btn btn-success" type="submit">
    <span>Click Me</span>
  </button>
{{/em-form-for}}