<legend class="whatever">stuff</legend>
{{#em-form-input id="charlie-401" type="email" name="email" label="email"}}
  <span class="helper-text">put your primary email</span>
{{/em-form-input}}

{{em-form-input type="datetime-local" name="expectedAt"}}
<button type="submit">
  <span>submit</span>
</button>
