<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 id="title">Welcome to my 
          {{#link-to "index"}}Ember Form Tools{{/link-to}}
        </h2>
        <p>An ember DSL for building forms across the major front-end frameworks</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>
