<div class="alert alert-warning">
  You need to install 
  <a href="https://github.com/plusacht/ember-bootstrap-datetimepicker">
    ember-bootstrap-datetimepicker
  </a> yourself if you wish to use the bootstrap flavor of the datetime selection
</div>

{{partial "snippets/datetime"}}

<div>
  {{code-snippet name="-datetime.hbs"}}
</div>
