<div class="alert alert-warning">
  You may want to `label.em-file-field-label` yourself to make it easier to click on
</div>
{{partial "snippets/files"}}

<div>
  {{code-snippet name="-files.hbs"}}
</div>
